{{!< default}}

<main class="gh-main">
  <article class="gh-article {{post_class}}">
    {{#get "pages" slug="history"}}
      {{#foreach pages}}
        <header class="gh-article-header gh-canvas">
          <h1 class="gh-article-title is-title">{{title}}</h1>
        </header>
        <section class="gh-content gh-canvas is-body">
          {{content}}
        </section>
      {{/foreach}}
    {{/get}}
  </article>

  {{> "components/post-list" feed="archive" postFeedStyle=@custom.post_feed_style showTitle=false showSidebar=@custom.show_publication_info_sidebar}}

</main>